# Git Ignore for Sybil library
# exclude Vim temp files
*.swp
*.swo
# exclude temp files often created by Emacs
*~
# exclude any .out files such as gmon.out and a.out
*.out
# exclude any compiled versions of amt
amt
amt.exe
# ignore cscope and ctags databases
cscope.out
tags
.tags
